{% extends 'recommend/base.html' %}
{% block title %}Filtered products{% endblock %}

{% block body %}
<div class="container">
    <h1>Filtered products</h1>
    <hr>
    <div class="row">
        {% if products %}
            {% for product in products %}
                {% if product.product_logo %}
                    <div class="col-sm-3">
                        <div class="thumbnail" style="border-radius: 22px; position: relative; width: 250px; height: 400px; overflow: hidden;">
                            <center>
                                <h5>{{ product.title }}</h5>
                            </center>
                            <a href="{% url 'detail' product.id %}">
                                <img src="{{ product.product_logo }}" class="img-responsive" style="border-radius: 22px; width: 100%; height: auto;">
                                {% if product.is_vip %}
                                    <div class="vip-icon" style="position: absolute; top: 10px; right: 10px; background-color: gold; color: black; padding: 5px; border-radius: 5px;">VIP</div>
                                {% endif %}
                            </a>
                            <h5>{{ product.genre }}</h5>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    <strong>Sorry!</strong> No products found matching the filter criteria.
                </div>
            </div>
        {% endif %}
    </div>

    <div class="pagination">
        <ul class="pagination">
            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if request.GET.genre %}&genre={{ request.GET.genre }}{% endif %}">&laquo; first</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}{% if request.GET.genre %}&genre={{ request.GET.genre }}{% endif %}">previous</a>
                </li>
            {% endif %}
    
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Page {{ products.number }} of {{ products.paginator.num_pages }}</a>
            </li>
    
            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}{% if request.GET.genre %}&genre={{ request.GET.genre }}{% endif %}">next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.paginator.num_pages }}{% if request.GET.genre %}&genre={{ request.GET.genre }}{% endif %}">last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
    
</div>
{% endblock %}
