{% extends 'recommend/base.html'%}
{% block title %}Recommendations{% endblock %}
{% block body %}

<div class="container-fluid">
	<h2>Recommendations for you</h2>
</div>
<hr>
<br>

	<div class="container-fluid">

    <!-- product list -->
    <div class="row">
            {% if product_list %}
                {% for product in product_list %}
                    <div class="col-sm-2 col-md-2 ">
                        <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
                            <center><h4>{{product.title}}</h4></center>
                            <a href="{% url 'detail' product.id %}">
                                <img src="{{ product.product_logo}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                            </a>
<!--                            <center><h5>{{product.genre}}</h5></center>-->
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

</div>

{% endblock %}