{% extends 'recommend/base.html' %}
{% block title %}Tìm kiếm{% endblock %}
{% block body %}
<div class="container" >
    <div class="col-xs-6 col-xs-offset-3">
        <form class="form-horizontal" role="search" method="get" action=''>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control input-lg " name="q" value="{{ request.GET.q }}" placeholder="Search Movies "/>
                    <span class='input-group-btn'>
                        <button class='button1' type='submit'>Search</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

<p style="text-align:left;">
    <span style="float:right;">
    <h2>Kết quả tìm kiếm</h2>
    </span>
</p>
<hr>
<br>

<!-- Movie list -->
<div class="row">
    {% if movies %}
    {% for movie in movies %}
        <div class="col-sm-2 col-md-2">
            <div class="thumbnail" style="border-radius: 22px; width: 250px; height: 400px; overflow: hidden;">
                <center><h5>{{movie.title}}</h5></center>
                <a href="{% url 'detail' movie.id %}">
                    <img src="{{ movie.movie_logo}}" class="img-responsive fixed-size" style="width: 100%; height: auto;">
                </a>
                {% if movie.is_vip %}
                    <div class="vip-icon" style="position: absolute; top: 10px; right: 10px; background-color: gold; color: black; padding: 5px; border-radius: 5px;">VIP</div>
                {% endif %}
                <!-- <h5>{{movie.genre}}</h5> -->
            </div>
        </div>
    {% endfor %}
    {% endif %}
</div>

<!-- Pagination -->
<div class="pagination-wrapper" style="text-align: center;">
    {% if movies.has_previous %}
        <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="btn btn-primary">&laquo; First</a>
        <a href="?page={{ movies.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="btn btn-primary">Previous</a>
    {% endif %}

    <div class="pagination" style="display: inline-block;">
        {% for i in movies.paginator.page_range %}
            {% if forloop.counter <= 10 %}
                <a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="btn btn-primary{% if movies.number == i %} active{% endif %}">{{ i }}</a>
            {% endif %}
        {% endfor %}
    </div>

    {% if movies.paginator.num_pages > 10 %}
        <a href="?page={{ movies.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="btn btn-primary">Next</a>
        <a href="?page={{ movies.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="btn btn-primary">Last &raquo;</a>
    {% endif %}
</div>

<style>
    .pagination-wrapper {
    margin-top: 20px; /* Có thể điều chỉnh margin tùy ý */
}

.pagination {
    display: inline-block;
    margin: 0 auto;
}

</style>
<br>
<hr>
<p style="text-align:left;">
    <span style="float:right;">
    <h2>Các phim liên quan</h2>
    </span>
</p>
<hr>
<br>

<div class="row">
    {% if movies_similar %}
        {% for movie in movies_similar %}
            <div class="col-sm-2 col-md-2">
                <div class="thumbnail" style="border-radius: 22px; width: 250px; height: 400px; overflow: hidden;">
                    <center><h5>{{movie.title}}</h5></center>
                    <a href="{% url 'detail' movie.id %}">
                        <img src="{{ movie.movie_logo}}" class="img-responsive fixed-size" style="width: 100%; height: auto;">
                    </a>
                    {% if movie.is_vip %}
                        <div class="vip-icon" style="position: absolute; top: 10px; right: 10px; background-color: gold; color: black; padding: 5px; border-radius: 5px;">VIP</div>
                    {% endif %}
                    <!-- <h5>{{movie.genre}}</h5> -->
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
