<!-- recommend/user_list.html -->
{% extends 'recommend/base.html' %}
{% block title %}{{ user.username }}'s List{% endblock %}

{% block body %}
<h2>{{ user.username }}'s List</h2>
<hr>
<br>
<!-- Movie list -->
<div class="row">
    {% if movies %}
    {% for item in movies %}
        <div class="col-sm-2 col-md-2">
            <div class="thumbnail">
                <h4>{{ item.movie.title }}</h4>
                <a href="{% url 'detail' item.movie.id %}">
                    <img src="{{ item.movie.movie_logo.url }}" class="img-responsive">
                </a>
                <h5>{{ item.movie.genre }}</h5>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <div class="alert alert-danger">
            <strong>Sorry!</strong> No movies in {{ user.username }}'s list.
        </div>
    {% endif %}
</div>
{% endblock %}
