{% extends 'recommend/base.html' %}
{% block title %}{{ user.username }}'s List{% endblock %}

{% block body %}
<div class="container">
    <h2>{{ user.username }}'s List</h2>
    <hr>
    <br>
    <!-- Movie list -->
    <div class="row">
        {% if movies %}
            {% for item in movies %}
                {% if item.movie.movie_logo %}
                    <div class="col-sm-2 col-md-2">
                        <div class="thumbnail" style="width: 150px; height: 300px; overflow: hidden;">
                            <h4>{{ item.movie.title }}</h4>
                            <a href="{% url 'detail' item.movie.id %}">
                                <img src="{{ item.movie.movie_logo }}" class="img-responsive" style="width: 100%; height: auto;">
                            </a>
                            <h5>{{ item.movie.genre }}</h5>
                            {% if item.movie.is_vip %}
                                <div class="vip-icon" style="position: absolute; top: 10px; right: 10px; background-color: gold; color: black; padding: 5px; border-radius: 5px;">VIP</div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="alert alert-danger">
                <strong>Sorry!</strong> No movies in {{ user.username }}'s list.
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
