{% extends 'recommend/base.html' %}
{% block title %}{{ user.username }}'s List{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ user.username }}'s List</h1>
    <hr>
    <div class="row">
        {% if movies %}
            {% for movie in movies %}
                {% if movie.movie_logo %}
                    <div class="col-sm-3">
                        <div class="thumbnail" style="border-radius: 22px; position: relative;">
                            <center>
                                <h5>{{ movie.title }}</h5>
                            </center>
                            <a href="{% url 'detail' movie.id %}">
                                <img src="{{ movie.movie_logo }}" class="img-responsive" style="border-radius: 22px;">
                                {% if movie.is_vip %}
                                    <div class="vip-icon" style="position: absolute; top: 10px; right: 10px; background-color: gold; color: black; padding: 5px; border-radius: 5px;">VIP</div>
                                {% endif %}
                            </a>
                            <h5>{{ movie.genre }}</h5>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    <strong>Sorry!</strong> No movies in {{ user.username }}'s list.
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
